{% extends "base.html" %}
    {% block title %} User Dashboard {% endblock %}
    {% block navbuttons %}
     <a href = "{{url_for("user.cart", user_id = user.id)}}" class="custom-link"> Cart </a>
     <a href="{{url_for('auth.login')}}" class="custom-link1"> Login </a> </button>
    {% endblock %}
    {% block body %} <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="10000">
            <img src= "{{ url_for('static', filename ='CarouselFruits.png' ) }}" class="d-block carousel-img" alt="...">
          </div>
          <div class="carousel-item">
            <img src="{{url_for('static', filename = 'CarouselVeggies.png')}}" class="d-block carousel-img" alt="...">
          </div>
          <div class="carousel-item">
            <img src="{{url_for('static', filename = 'carousal2.png')}}" class="d-block carousel-img" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      <br> 
      <br>
      <h4> Popular Items </h4>
      <br>
      {% for product in products %}
      <div class="cards" style="width: 12rem;">
        <img src="{{ url_for('static', filename = product.image ) }}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"> {{ product.name }} </h5>
          <h5 class="card-body"> {{ product.price }}</h5>
          <form action="{{ url_for('user.addtocart', user_id=user.id, product_id=product.id) }}" method="POST">
            <button type="submit" class="btn btn-success">Cart</button>
          </form>
        </div>
      </div>
      {% endfor %}
      {% endblock %}
    